name: Test 
on:
  push:
    branches:
      - '**'
  workflow_dispatch:
concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true
jobs:
  test-cargo:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      CARGO_HOME: "${{ github.workspace }}/.cargo"
    steps:
    - uses: actions/checkout@v4.1.0
      with:
        fetch-depth: 50
        lfs: false
    - name: Install PostgreSQL client library
      run: sudo apt-get update && sudo apt-get install -y libpq-dev
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        components: clippy
        rustflags: ""  # Disable default -D warnings
    - run: rustc --version && cargo --version
    - name: Run Clippy
      run: cargo clippy --workspace --all-targets -- -D warnings
    - name: Run tests
      run: cargo test --workspace --verbose
